<footer
  class="w-full h-20 mx-auto bg-gray-100 fixed bottom-0 inset-x-0 overflow-hidden w-full max-w-6xl md:shadow-md md:rounded md:w-3/4 md:mb-8">
  <div class="h-full">
    <ul class="flex items-center justify-center h-full">
      <li class="w-full h-full inline-flex justify-center hover:bg-blue-500 hover:text-white">
        <a routerLink="/" class="inline-flex items-center justify-center w-full">
          <svg class="fill-current h-8 md:h-4 md:mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M8 20H3V10H0L10 0l10 10h-3v10h-5v-6H8v6z" /></svg>
          <span class="hidden md:inline">
            Home
          </span>
        </a>
      </li>
      <li class="w-full h-full inline-flex justify-center hover:bg-blue-500 hover:text-white">
        <a [routerLink]="['/bills']" class="inline-flex items-center justify-center w-full">
          <svg class="fill-current h-8 md:h-4 md:mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path
              d="M0 4c0-1.1.9-2 2-2h15a1 1 0 0 1 1 1v1H2v1h17a1 1 0 0 1 1 1v10a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm16.5 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
          </svg>
          <span class="hidden md:inline">
            Bills
          </span>
        </a>
      </li>
      <li class="w-full h-full inline-flex justify-center hover:bg-blue-500 hover:text-white">
        <a [routerLink]="['/people']" class="inline-flex items-center justify-center w-full">
          <svg class="fill-current h-8 md:h-4 md:mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path
              d="M7 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm0 1c2.15 0 4.2.4 6.1 1.09L12 16h-1.25L10 20H4l-.75-4H2L.9 10.09A17.93 17.93 0 0 1 7 9zm8.31.17c1.32.18 2.59.48 3.8.92L18 16h-1.25L16 20h-3.96l.37-2h1.25l1.65-8.83zM13 0a4 4 0 1 1-1.33 7.76 5.96 5.96 0 0 0 0-7.52C12.1.1 12.53 0 13 0z" />
          </svg>
          <span class="hidden md:inline">
            Friends
          </span>
        </a>
      </li>
      <li class="w-full h-full inline-flex justify-center hover:bg-blue-500 hover:text-white">
        <a [routerLink]="['/accounts']" class="inline-flex items-center justify-center w-full">
          <svg class="fill-current h-8 md:h-4 md:mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path
              d="M3.94 6.5L2.22 3.64l1.42-1.42L6.5 3.94c.52-.3 1.1-.54 1.7-.7L9 0h2l.8 3.24c.6.16 1.18.4 1.7.7l2.86-1.72 1.42 1.42-1.72 2.86c.3.52.54 1.1.7 1.7L20 9v2l-3.24.8c-.16.6-.4 1.18-.7 1.7l1.72 2.86-1.42 1.42-2.86-1.72c-.52.3-1.1.54-1.7.7L11 20H9l-.8-3.24c-.6-.16-1.18-.4-1.7-.7l-2.86 1.72-1.42-1.42 1.72-2.86c-.3-.52-.54-1.1-.7-1.7L0 11V9l3.24-.8c.16-.6.4-1.18.7-1.7zM10 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
          </svg>
          <span class="hidden md:inline">
            Settings
          </span>
        </a>
      </li>
    </ul>
  </div>
</footer>
