:host {
  display: inline-block;
}

ul.toc-list {
  flex-direction: row;
  color: #dbdbdb;
}
ul.toc-list li:not(:first-child)::before {
  border-top: 2px solid #dbdbdb;
  content: '';
  position: absolute;
  right: 50%;
  left: -46%;
  top: 0;
  z-index: 1;
}

ul.toc-list li a::before {
  content: '';
  border: 2px solid #dbdbdb;
  background-color: #fff;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
}

ul.toc-list li svg {
  top: -8px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 1;
  z-index: 3;
  color: #fff;
}

ul.toc-list li.active, ul.toc-list li.done {
  color: #38b2ac;
  &::before, a::before {
    border-color: #38b2ac;
  }
}

ul.toc-list li.done a::before {
  border-color: #38b2ac;
  background-color: #38b2ac;
}

ul.toc-list-vertical {
  flex-direction: column;
}
ul.toc-list-vertical li:not(:first-child)::before {
  border-left: 2px solid #dbdbdb;
  border-top: 0;
  content: '';
  position: absolute;
  left: 0;
  top: -46%;
  bottom: 50%;
  z-index: 1;
}

ul.toc-list-vertical li a::before {
  content: '';
  border: 2px solid #dbdbdb;
  background-color: #fff;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 2;
}

ul.toc-list-vertical li svg {
  left: -8px;
  top: 50%;
  transform: translate(0, -50%);
  opacity: 1;
  z-index: 3;
}

ul.toc-list-vertical li.active, ul.toc-list-vertical li.done {
  color: #38b2ac;
  &::before, a::before {
    border-color: #38b2ac;
  }
}

ul.toc-list-vertical li.done a::before {
  border-color: #38b2ac;
  background-color: #38b2ac;
}
