<div class="container inner">
  <div class="mb-8 px-4 md:px-0">
    <h1 class="h1">
      What is your friend's name?
    </h1>
  </div>
  <div class="mb-8 shadow-md rounded bg-white px-4 py-8">
    <form *ngIf="personForm" [formGroup]="personForm" (ngSubmit)="onSubmit()" class="md:w-1/2 md:mx-auto">
      <div>
        <label class="field-label">
          First name
        </label>
        <input class="field-input-text focus:outline-none focus:shadow-outline" type="text" formControlName="firstname"
          placeholder="First name"
          [ngClass]="{'border border-red-500 focus:shadow-none': personForm.get('firstname').invalid && (personForm.get('firstname').dirty || personForm.get('firstname').touched)}" />
        <div
          *ngIf="personForm.get('firstname').invalid && (personForm.get('firstname').dirty || personForm.get('firstname').touched)"
          class="field-error">

          <div *ngIf="personForm.get('firstname').errors.required">
            First name is required.
          </div>
          <div *ngIf="personForm.get('firstname').errors.minlength">
            First name must be at least 3 characters long.
          </div>
        </div>
      </div>
      <br>
      <div>
        <label class="field-label">
          Last name
        </label>
        <input id="lastname" class="field-input-text focus:outline-none focus:shadow-outline"
          [ngClass]="{'border border-red-500 focus:shadow-none': personForm.get('lastname').invalid && (personForm.get('lastname').dirty || personForm.get('lastname').touched)}"
          formControlName="lastname" placeholder="Last name" />

        <div
          *ngIf="personForm.get('lastname').invalid && (personForm.get('lastname').dirty || personForm.get('lastname').touched)"
          class="field-error">

          <div *ngIf="personForm.get('lastname').errors.required">
            Last name is required.
          </div>
          <div *ngIf="personForm.get('lastname').errors.minlength">
            Last name must be at least 3 characters long.
          </div>
        </div>
      </div>
      <br>
      <div class="flex items-center justify-end">
        <button
          class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded inline-flex items-center mr-2"
          type="button" (click)="cancelEdit()">
          <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path
              d="M0 10a10 10 0 1 1 20 0 10 10 0 0 1-20 0zm16.32-4.9L5.09 16.31A8 8 0 0 0 16.32 5.09zm-1.41-1.42A8 8 0 0 0 3.68 14.91L14.91 3.68z" />
          </svg>
          Cancel
        </button>
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded inline-flex items-center"
          type="submit" [disabled]="personForm.invalid">
          <svg class="fill-current h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M0 11l2-2 5 5L18 3l2 2L7 18z" /></svg>
          Save
        </button>
      </div>
    </form>
  </div>
</div>
