<form *ngIf="extraChargesForm" [formGroup]="extraChargesForm">
  <div class="flex items-center justify-between mb-4">
    <em class="text-red-500 text-sm">
      ** Extra charges are in percentage units
    </em>
    <button class="btn btn-primary inline-flex items-center justify-center" type="button" (click)="add()">
      <svg class="fill-current h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
        <path d="M11 9V5H9v4H5v2h4v4h2v-4h4V9h-4zm-1 11a10 10 0 1 1 0-20 10 10 0 0 1 0 20z" /></svg>
      Add new
    </button>
  </div>
  <div *ngIf="extraCharges && extraCharges.length > 0; then withCharges; else noCharges;"></div>
  <ng-template #withCharges>
    <div formArrayName="extraCharges" *ngFor="let extraCharge of extraCharges.controls; let i = index;">
      <div [formGroupName]="i">
        <div class="flex flex-col items-start md:flex-row md:items-center mx-2">
          <div class="mr-4">{{i + 1}}</div>
          <div class="flex flex-col items-start justify-center my-2 xs:items-center xs:flex-row">
            <input class="field-input-text focus:outline-none focus:shadow-outline my-2 mr-2" type="text"
              [ngClass]="{'border border-red-500 focus:shadow-none': extraCharge.get('description').invalid && (extraCharge.get('description').dirty || extraCharge.get('description').touched)}"
              formControlName="description" placeholder="Description" />
            <div class="relative w-24">
              <input class="field-input-text focus:outline-none focus:shadow-outline"
                [ngClass]="{'border border-red-500 focus:shadow-none': extraCharge.get('rate').invalid && (extraCharge.get('rate').dirty || extraCharge.get('rate').touched)}"
                type="text" formControlName="rate" placeholder="Rate" />
              <span class="absolute abs-v-middle right-0 pr-4">%</span>
            </div>
          </div>
          <div class="flex items-center justify-between md:mx-2">
            <button
              class="flex-1 text-red-700 font-bold py-2 px-4 rounded inline-flex items-center justify-center hover:bg-red-500 hover:text-white"
              type="button" (click)="remove(i)">
              <svg class="fill-current h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path d="M6 2l2-2h4l2 2h4v2H2V2h4zM3 6h14l-1 14H4L3 6zm5 2v10h1V8H8zm3 0v10h1V8h-1z" /></svg>
            </button>
          </div>
        </div>
        <div class="field-error pl-8"
          *ngIf="extraCharge.get('description').invalid && (extraCharge.get('description').dirty || extraCharge.get('description').touched)">
          <div *ngIf="extraCharge.get('description').errors.required">
            Description {{i + 1}} is required.
          </div>
        </div>
        <div class="field-error pl-8"
          *ngIf="extraCharge.get('rate').invalid && (extraCharge.get('rate').dirty || extraCharge.get('rate').touched)">
          <div *ngIf="extraCharge.get('rate').errors.required">
            Rate {{i + 1}} is required.
          </div>
          <div *ngIf="extraCharge.get('rate').errors.min">
            Rate {{i + 1}} must be greater than 0.
          </div>
          <div *ngIf="extraCharge.get('rate').errors.notDecimal">
            Rate {{i + 1}} must be in decimal format.
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #noCharges>
    <p>No extra charges specified.</p>
  </ng-template>
</form>
