<div class="h-24"></div>
<div class="max-w-xl mx-auto">
  <header class="mb-8 px-4 md:px-0">
    <h1>
      Features
    </h1>
  </header>
  <div class="bg-white rounded-md shadow-sm relative p-8">
    <article class="dropcap overflow-auto mb-6">
      <img src="../../assets/images/split-that-bill-wizard.png" alt="Split that bill app"
        class="float-right w-40 ml-4 mb-4 shadow">
      <p>
        Split that bill offers an intuitive interface that allows users to enter the bill details, bill items, friends
        involved
        as
        well as extra charges with ease. This includes a stepped wizard interface, short but concise forms, modals,
        dialogs and
        notifications. Textual cues in each step are in place to help guide the user as they go, enabling them a
        hassle-free experience in splitting bills.
      </p>
    </article>
    <article class="overflow-auto">
      <h2 class="mb-4">Bill assignment</h2>
      <img src="../../assets/images/split-that-bill-item-assignment.png" alt="Split that bill item assignment"
        class="w-64 float-left mr-4 mb-4 shadow">
      <p>
        The bill assignment is one of the most important features of the app. This step lets the user match an item up
        to a friend. Friends can be assigned to multiple items.
      </p>
    </article>
    <div class="clear-both mb-6"></div>
    <article>
      <h2 class="mb-4">Auto-calculation</h2>
      <img src="../../assets/images/split-that-bill-auto-calculate.png" alt="Split that bill item calculation"
        class="w-64 float-left mr-4 mb-4 shadow">
      <p class="mb-4">
        Unit prices, extra charges and discounts all contribute to the total payable amount. When these are specified
        dutifully, the amounts update just as easily.
      </p>
    </article>
    <div class="clear-both mb-6"></div>
    <article>
      <h2 class="mb-4">Receipt</h2>
      <img src="../../assets/images/split-that-bill-receipt.png" alt="Split that bill item receipt"
        class="w-64 float-left mr-4 mb-4 shadow">
      <p>
        A receipt is created once the bill details and assignments are completed. Once saved, the user is then
        redirected to the receipt page that displays all the pertinent details about the split. It is a
        publicly-accessible page, the url to which can readily be shared to the friends involved.
      </p>
    </article>
    <div class="clear-both mb-6"></div>
    <div class="h-8"></div>
    <article>
      <p>
        Excited? <a [routerLink]="['/billing']"
          class="bg-teal-500 hover:bg-teal-400 text-white font-bold py-2 px-4 border-b-4 border-teal-700 hover:border-teal-500 rounded">Try
          it out now!</a>
      </p>
    </article>
  </div>
</div>
<div class="h-20"></div>
