<div class="h-24"></div>
<div class="max-w-xl mx-auto">
  <header class="mb-8 px-4 md:px-0">
    <h1>
      Features
    </h1>
  </header>
  <div class="bg-white rounded-md shadow-sm relative p-8">
    <article class="dropcap">
      <img src="../../assets/images/split-that-bill-wizard.png" alt="Split that bill app"
        class="float-right w-40 mr-l mb-4 shadow">
      <p class="mb-4">
        Split that bill offers an intuitive interface that allows users to enter the bill details, bill items, friends
        as
        well as extra charges. This includes a stepped wizard interface, short but concise forms, modals, dialogs and
        notifications. Textual cues in each wizard step are in place to give users a clear indication of where they are
        in the flow. All these are provided to enable the user a hassle-free experience in splitting bills.
      </p>
    </article>
    <article>
      <h2 class="mb-4">Bill assignment</h2>
      <img src="../../assets/images/split-that-bill-item-assignment.png" alt="Split that bill item assignment"
        class="w-64 float-left mr-4 mb-4 shadow">
      <p class="mb-4">
        The bill assignment step is one of the most important features of the app. This enables the user to assignment a
        bill
        item to
        a
        friend. As soon as this assignment is done, the calculation for the payable is automatically engaged in the
        background. The app promotes transparency by displaying the friend's total payable when extra charges like taxes
        and service charges as well as item discounts are included.
      </p>
    </article>
    <br class="clear-both">
    <article>
      <h2 class="mb-4">Auto-calculation</h2>
      <img src="../../assets/images/split-that-bill-auto-calculate.png" alt="Split that bill item calculation"
        class="w-64 float-left mr-4 mb-4 shadow">
      <p class="mb-4">
        Unit prices, extra charges and discounts all contribute to the total payable amount. When these are specified
        dutifully, the amount updates just as easily.
      </p>
    </article>
    <br class="clear-both">
    <article>
      <h2 class="mb-4">Receipt</h2>
      <img src="../../assets/images/split-that-bill-receipt.png" alt="Split that bill item receipt"
        class="w-64 float-left mr-4 mb-4 shadow">
      <p>
        A receipt is created once the bill details and assignments are completed. Once saved, the user is then
        redirected to the receipt page that displays all the pertinent details. It is a publicly-accessible page, in
        which the url to it can easily be shared to the friends involved.
      </p>
    </article>
    <br class="clear-both">
    <div class="h-8"></div>
    <article>
      <p>
        Excited? <a [routerLink]="['/billing']"
          class="bg-teal-500 hover:bg-teal-400 text-white font-bold py-2 px-4 border-b-4 border-teal-700 hover:border-teal-500 rounded">Try
          it out now!</a>
      </p>
    </article>
  </div>
</div>
