<div *ngIf="billForm" >
    <form [formGroup]="billForm" (ngSubmit)="onSubmit()">
        <h2>Bill from {{vm.bill.establishmentName}}</h2>
        <ng-container formArrayName="billItems">
            <div *ngFor="let billItem of billItems.controls; let i = index;" [formGroupName]="i">
                <label>
                    <span>
                        1 {{billItem.get('itemDescription').value}} {{billItem.get('priceWithCharges').value | currency: billItem.get('currency').value }}
                    </span>
                    <select formControlName="assignee" (change)="onChange($event, billItem)">
                        <option value="">Assign friend</option>
                        <option *ngFor="let p of vm.bill.participants" [value]="p.person.id">
                            {{p.person.fullname}}
                        </option>
                    </select>
                </label>
            </div>
        </ng-container>
        <div>
            <h4>Payable running total</h4>
            <ul>
                <li *ngFor="let p of participantsPayable">
                    {{p.person.fullname}} {{p.totalPayable.amount | currency: p.totalPayable.currency}}
                </li>
            </ul>
        </div>
        <br>
        <button type="button" (click)="cancelEdit()">Cancel</button> &nbsp;
        <button type="submit" [disabled]="billForm.invalid">Save</button>
    </form>
</div>