<div class="h-24"></div>
<div class="max-w-xl mx-auto">
  <header class="mb-8 px-4 md:px-0">
    <h1>
      About
    </h1>
  </header>
  <article class="bg-white rounded-md shadow-sm relative p-8">
    <p>
      <img
        src="https://media-exp1.licdn.com/dms/image/C5103AQHd6BdE2-72Hg/profile-displayphoto-shrink_200_200/0?e=1588204800&v=beta&t=FyUWE8Ki6bhuAH0_Akvqp1513WKjS0jccwittTz3oSA"
        alt="lhar gil" class="float-left w-32 mr-4 mb-4 rounded-full">
      <strong class="text-teal-700">Split that bill</strong> is an app borne out of a desire to simply the process of
      splitting bill items
      amongst friends.
    </p>
    <p>
      The app provides facilities for conveniently managing bill details, bill items, extra charges as well as the
      all-important function of splitting the said items to participating friends. You can read
      more about the features <a class="underline text-teal-700" href="/features">here</a>.
    </p>
    <p>
      From a technical perspective, this also serves as a personal showcase of the author's capabilities with new and
      exciting
      technologies like <a class="underline text-teal-700" href="https://angular.io">Angular</a>, <a
        class="underline text-teal-700" href="https://docs.microsoft.com/en-us/dotnet/core/">.Net Core</a> and <a
        class="underline text-teal-700" href="https://docs.microsoft.com/en-us/ef/core/">EF Core</a>, among others. This
      forms part of
      a bigger collection of
      highly-usable and uber-creative apps under <a class="underline text-teal-700"
        href="https://tensileform.com">TensileForm</a>, a software development initiative started by the same <a
        href="https://www.linkedin.com/in/lhar-gil/" class="underline text-teal-700">author</a>.
    </p>
  </article>
</div>
