<step-tracker class="block mb-8" [steps]="steps" [config]="{orientation: orientations.horizontal}"></step-tracker>
<div class="mx-auto rounded shadow-md bg-white max-w-lg">
  <div class="p-4 pb-8 overflow-auto" style="max-height: 500px;">
    <ng-template content-host></ng-template>
  </div>
  <div class="text-right border-t p-4">
    <button *ngIf="currentStep > 1" type="button" class="btn btn-outline" (click)="onBack($event)">
      Back
    </button>
    <button type="button" class="btn btn-primary ml-4" (click)="onNext($event)">
      Next
    </button>
  </div>
</div>
