<div class="mx-auto rounded shadow-md bg-white relative max-w-xl">
  <div class="p-4 pb-8 overflow-auto" style="height: 600px;">
    <ng-template content-host></ng-template>
  </div>
  <footer class="text-right border-t p-4 fixed bottom-0 inset-x-0 bg-white sm:relative">
    <button *ngIf="currentStep > 1" type="button" class="btn btn-outline inline-flex items-center justify-center"
      (click)="onBack($event)">
      <svg class="fill-current h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
        <polygon
          points="3.828 9 9.899 2.929 8.485 1.515 0 10 .707 10.707 8.485 18.485 9.899 17.071 3.828 11 20 11 20 9 3.828 9" />
      </svg>
      Back
    </button>
    <button type="button" class="btn btn-primary ml-4 inline-flex items-center justify-center" (click)="onNext($event)">
      <svg class="fill-current h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
        <polygon
          points="16.172 9 10.101 2.929 11.515 1.515 20 10 19.293 10.707 11.515 18.485 10.101 17.071 16.172 11 0 11 0 9" />
      </svg>
      Next
    </button>
  </footer>
</div>
