<form *ngIf="billForm" [formGroup]="billForm">
  <div class="field-container">
    <label class="field-label">
      Place name
    </label>
    <input class="field-input-text focus:outline-none focus:shadow-outline" type="text"
      formControlName="establishmentName" />
    <div *ngIf="establishmentName.invalid && (establishmentName.dirty || establishmentName.touched)"
      class="field-error">
      <div *ngIf="establishmentName.errors.required">
        Place name is required.
      </div>
      <div *ngIf="establishmentName.errors.minlength">
        Place name must be at least 3 characters long.
      </div>
    </div>
  </div>
  <div class="field-container">
    <label class="field-label">
      When was this
    </label>
    <div class="flex items-center justify-start md:justify-start">
      <div class="inline-block relative mr-2">
        <select class="field-select hover:border-gray-500 focus:outline-none focus:shadow-outline"
          formControlName="billDateYear" (change)="yearChanged($event.target.value)">
          <option *ngFor="let year of datePickerList.years" [value]="year">{{year}}</option>
        </select>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
        </div>
      </div>
      <div class="inline-block relative mr-2">
        <select class="field-select hover:border-gray-500 focus:outline-none focus:shadow-outline"
          formControlName="billDateMonth" (change)="monthChanged($event.target.value)">
          <option *ngFor="let month of datePickerList.months; let i = index;" [value]="i + 1">{{month}}</option>
        </select>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
        </div>
      </div>
      <div class="inline-block relative">
        <select class="field-select hover:border-gray-500 focus:outline-none focus:shadow-outline"
          formControlName="billDateDay">
          <option *ngFor="let day of datePickerList.days" [value]="day">{{day}}</option>
        </select>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
        </div>
      </div>
    </div>
  </div>
  <div class="field-container">
    <label class="field-label">
      What was this all about
    </label>
    <textarea class="field-input-text" formControlName="remarks" cols="30" rows="10"></textarea>
  </div>
  <div class="field-container">
    <label for="currency" class="field-label">Currency</label>
    <div class="block relative max-w-xs">
      <select class="field-select hover:border-gray-500 focus:outline-none focus:shadow-outline"
        formControlName="currency">
        <option value="">Select one</option>
        <option *ngFor="let currency of currencies" [value]="currency.code">{{currency.name}} ({{currency.code}})
        </option>
      </select>
      <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
      </div>
    </div>
    <div *ngIf="currency.invalid && (currency.dirty || currency.touched)" class="field-error">
      <div *ngIf="currency.errors.required">
        You must select a currency.
      </div>
    </div>
  </div>
</form>
