<form *ngIf="billForm" [formGroup]="billForm">
  <div class="field-container">
    <label class="field-label">
      Place name
    </label>
    <input class="field-input-text focus:outline-none focus:shadow-outline" type="text"
      formControlName="establishmentName" />
    <div *ngIf="establishmentName.invalid && (establishmentName.dirty || establishmentName.touched)"
      class="field-error">
      <div *ngIf="establishmentName.errors.required">
        Place name is required.
      </div>
      <div *ngIf="establishmentName.errors.minlength">
        Place name must be at least 3 characters long.
      </div>
    </div>
  </div>
  <div class="field-container">
    <label class="field-label">
      When was this
    </label>
    <div class="flex items-center justify-start md:justify-start">
      <div class="inline-block relative mr-2">
        <select class="field-select hover:border-gray-500 focus:outline-none focus:shadow-outline"
          formControlName="billDateYear" (change)="yearChanged($event.target.value)">
          <option *ngFor="let year of datePickerList.years" [value]="year">{{year}}</option>
        </select>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
        </div>
      </div>
      <div class="inline-block relative mr-2">
        <select class="field-select hover:border-gray-500 focus:outline-none focus:shadow-outline"
          formControlName="billDateMonth" (change)="monthChanged($event.target.value)">
          <option *ngFor="let month of datePickerList.months; let i = index;" [value]="i + 1">{{month}}</option>
        </select>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
        </div>
      </div>
      <div class="inline-block relative">
        <select class="field-select hover:border-gray-500 focus:outline-none focus:shadow-outline"
          formControlName="billDateDay">
          <option *ngFor="let day of datePickerList.days" [value]="day">{{day}}</option>
        </select>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
        </div>
      </div>
    </div>
  </div>
  <div class="field-container">
    <label class="field-label">
      What was this all about
    </label>
    <textarea class="field-input-text" formControlName="remarks" cols="30" rows="10"></textarea>
  </div>
  <div class="mb-8">
    <div class="mb-4">
      <h2 class="h2">Who were you with?</h2>
    </div>
    <div formArrayName="participants" *ngFor="let participant of participants.controls; let i = index;">
      <label [formGroupName]="i" class="block mb-4">
        <input type="checkbox" formControlName="selected" />
        {{participant.get('fullname').value | titlecase}}
      </label>
    </div>
  </div>
  <div class="mb-8">
    <div class="mb-4">
      <h2 class="h2">What items did you buy?</h2>
      <em class="text-red-500 text-sm">
        * Discounts are in unit price units
      </em>
    </div>
    <div formArrayName="billItems" *ngFor="let billItem of billItems.controls; let i = index;">
      <div class="mb-4" [formGroupName]="i">
        <div class="flex flex-col md:flex-row items-start md:items-center mx-2">
          <span class="mr-2">1</span>
          <input class="field-input-text focus:outline-none focus:shadow-outline my-2 mr-2"
            [ngClass]="{'border border-red-500 focus:shadow-none': billItems.controls[i].get('description').invalid && (billItems.controls[i].get('description').dirty || billItems.controls[i].get('description').touched)}"
            type="text" formControlName="description" placeholder="Description" />
          <div class="flex items-center justify-between mx-1 my-2">
            <input class="field-input-text w-1/2 focus:outline-none focus:shadow-outline -ml-1"
              [ngClass]="{'border border-red-500 focus:shadow-none': billItems.controls[i].get('amount').invalid && (billItems.controls[i].get('amount').dirty || billItems.controls[i].get('amount').touched)}"
              type="text" formControlName="amount" placeholder="Amount" />
            <input class="field-input-text w-1/2 focus:outline-none focus:shadow-outline -mr-1"
              [ngClass]="{'border border-red-500 focus:shadow-none': billItems.controls[i].get('discount').invalid && (billItems.controls[i].get('discount').dirty || billItems.controls[i].get('discount').touched)}"
              type="text" formControlName="discount" placeholder="Discount" />
          </div>
          <div class="flex-1 flex items-center justify-between md:mx-2">
            <button
              class="flex-1 bg-transparent text-green-700 font-semibold hover:text-white py-2 px-4 hover:bg-green-500 hover:border-transparent rounded inline-flex items-center justify-center"
              type="button" (click)="addBillItem()">
              <svg class="fill-current h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path d="M11 9V5H9v4H5v2h4v4h2v-4h4V9h-4zm-1 11a10 10 0 1 1 0-20 10 10 0 0 1 0 20z" /></svg>
            </button>
            <button
              class="flex-1 text-red-700 font-bold py-2 px-4 rounded inline-flex items-center justify-center hover:bg-red-500 hover:text-white"
              type="button" (click)="removeBillItem(i)">
              <svg class="fill-current h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path d="M6 2l2-2h4l2 2h4v2H2V2h4zM3 6h14l-1 14H4L3 6zm5 2v10h1V8H8zm3 0v10h1V8h-1z" /></svg>

            </button>
          </div>
        </div>
        <div
          *ngIf="billItems.controls[i].get('description').invalid && (billItems.controls[i].get('description').dirty || billItems.controls[i].get('description').touched)"
          class="field-error mx-2">
          <div *ngIf="billItems.controls[i].get('description').errors.required">
            Description {{i + 1}} is required.
          </div>
          <div *ngIf="billItems.controls[i].get('description').errors.minlength">
            Description {{i + 1}} must be at least 3 characters long.
          </div>
        </div>
        <div class="field-error"
          *ngIf="billItems.controls[i].get('amount').invalid && (billItems.controls[i].get('amount').dirty || billItems.controls[i].get('amount').touched)">
          <div *ngIf="billItems.controls[i].get('amount').errors.required">
            Amount {{i + 1}} is required.
          </div>
          <div *ngIf="billItems.controls[i].get('amount').errors.notDecimal">
            Amount {{i + 1}} must be in decimal format.
          </div>
        </div>
        <div class="field-error"
          *ngIf="billItems.controls[i].get('discount').invalid && (billItems.controls[i].get('discount').dirty || billItems.controls[i].get('discount').touched)">
          Discount {{i + 1}} must be in decimal format.
        </div>
      </div>
    </div>
  </div>
  <div class="mb-8">
    <div class="mb-4">
      <h2 class="h2">Any extra charges?</h2>
      <em class="text-red-500 text-sm">
        ** Extra charges are in percentage units
      </em>
    </div>
    <div formArrayName="extraCharges" *ngFor="let extraCharge of extraCharges.controls; let i = index;">
      <div class="mb-4" [formGroupName]="i">
        <div class="flex flex-col items-start md:flex-row md:items-center mx-2">
          <div class="flex flex-col items-start justify-center my-2 xs:items-center xs:flex-row">
            <input class="field-input-text focus:outline-none focus:shadow-outline my-2 mr-2" type="text"
              formControlName="description" placeholder="Description" />
            <div class="relative w-24">
              <input class="field-input-text focus:outline-none focus:shadow-outline" type="text" formControlName="rate"
                placeholder="Rate" />
              <span class="absolute abs-v-middle right-0 pr-4">%</span>
            </div>
          </div>
          <div class="flex items-center justify-between md:mx-2">
            <button
              class="flex-1 bg-transparent text-green-700 font-semibold hover:text-white py-2 px-4 hover:bg-green-500 hover:border-transparent rounded inline-flex items-center justify-center"
              type="button" (click)="addExtraCharge()">
              <svg class="fill-current h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path d="M11 9V5H9v4H5v2h4v4h2v-4h4V9h-4zm-1 11a10 10 0 1 1 0-20 10 10 0 0 1 0 20z" /></svg>
            </button>
            <button
              class="flex-1 text-red-700 font-bold py-2 px-4 rounded inline-flex items-center justify-center hover:bg-red-500 hover:text-white"
              type="button" (click)="removeExtraCharge(i)">
              <svg class="fill-current h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path d="M6 2l2-2h4l2 2h4v2H2V2h4zM3 6h14l-1 14H4L3 6zm5 2v10h1V8H8zm3 0v10h1V8h-1z" /></svg>

            </button>
          </div>
        </div>
        <div class="field-error mx-2"
          *ngIf="extraCharges.controls[i].get('description').invalid && (extraCharges.controls[i].get('description').dirty || extraCharges.controls[i].get('description').touched)"
          class="alert alert-danger">
          <div *ngIf="extraCharges.controls[i].get('description').errors.required">
            Description {{i + 1}} is required.
          </div>
          <div *ngIf="extraCharges.controls[i].get('description').errors.minlength">
            Description {{i + 1}} must be at least 3 characters long.
          </div>
        </div>
        <div class="field-error mx-2"
          *ngIf="extraCharges.controls[i].get('rate').invalid && (extraCharges.controls[i].get('rate').dirty || extraCharges.controls[i].get('rate').touched)">
          <div *ngIf="extraCharges.controls[i].get('rate').errors.required">
            Rate {{i + 1}} is required.
          </div>
          <div *ngIf="extraCharges.controls[i].get('rate').errors.notDecimal">
            Rate {{i + 1}} must be in decimal format.
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
