<ul class="flex flex-col lg:inline-flex lg:flex-row lg:mx-8">
  <li class="w-full h-full inline-flex justify-start" routerLinkActive="bg-teal-900 text-white border-teal-900"
    [routerLinkActiveOptions]="{exact: true}" *ngFor="let item of menuItems">
    <a [routerLink]="item.url" class="no-underline p-4">
      {{item.name}}
    </a>
  </li>
  <li class="w-full h-full inline-flex justify-start">
    <a [routerLink]="['/billing']"
      class="bg-white-500 hover:bg-white-400 text-white font-bold border border-white-700 hover:border-white-500 rounded p-2 ml-4 mt-8 no-underline">Get
      started</a>
  </li>
</ul>
