<div class="h-16"></div>
<div class="mx-auto max-w-xl overflow-hidden relative" style="height: 128px;">
  <div #parent class="w-full h-full relative">
    <div #target class="relative mx-auto" style="width: 133.33px; height: 90px;"></div>
    <step-tracker class="inline-block absolute" [ngStyle]="{'left.px': leftPosition }"
      style="width: 800px; margin-top: 16px; top: 50%; transform: translateY(-50%);" [steps]="steps"
      [config]="{orientation: orientations.horizontal}">
    </step-tracker>
  </div>
</div>
<wizard [wizardSteps]="wizardSteps" [currentStep]="currentStep" (clickBack)="onClickBack($event)"
  (clickNext)="onClickNext($event)"></wizard>
