<header class="pb-4 border-gray-800 border-b-2">
  <div class="mb-4 flex items-start justify-center">
    <div class="flex-1">
      <h2 class="text-2xl">
        {{receipt.billInfo.placeName}}
      </h2>
      <p class="text-gray-500 text-sm italic">
        {{receipt.billInfo.date}}
      </p>
    </div>
    <div class="flex-1">
      <p class="mb-2">
        <strong
          class="text-2xl">{{receipt.billInfo.totalWithCharges.amount | currency: receipt.billInfo.totalWithCharges.currency}}
        </strong>
      </p>
      <p>
        <span>{{receipt.billInfo.total.amount | currency: receipt.billInfo.total.currency}} </span>
        <span class="text-gray-500 text-xs italic">sub-total</span>
      </p>
      <p>
        <span>{{receipt.billInfo.totalCharges.amount | currency: receipt.billInfo.totalCharges.currency}} </span>
        <span class="text-green-500 text-xs italic">+{{receipt.billInfo.totalChargeRates | percent: '1.2-5'}} extra
          charges</span>
      </p>
    </div>
  </div>
  <p *ngIf="receipt.billInfo.remarks" class="text-gray-600 italic">
    {{receipt.billInfo.remarks}}
  </p>
</header>
<div class="pb-16">
  <ul>
    <li *ngFor="let personBillItem of receipt.personBillItems; trackBy: trackByFn;"
      class="flex items-start justify-center py-8 border-b-2 border-dotted last:border-b-0">
      <div class="flex-1">
        {{personBillItem.key.fullname | titlecase}}
      </div>
      <div class="flex-1">
        <ul>
          <li *ngFor="let billItem of personBillItem.value" class="pb-4 last:pb-6">
            <div>
              <h4 class="text-xl font-bold leading-none">
                {{ billItem.description }}
              </h4>
              <div class="h-4"></div>
              <p class="leading-none">
                {{ billItem.priceWithCharges.amount | currency: billItem.priceWithCharges.currency }}
                <span class="text-gray-500 text-xs italic">payable</span>
              </p>
              <div class="h-2"></div>
              <p class="text-xs">
                {{billItem.price.amount | currency: billItem.price.currency}}
                <span class="text-gray-500 text-xs italic">unit price</span>
              </p>
              <p *ngIf="receipt.billInfo.totalChargeRates" class="text-green-500 text-xs italic">
                +{{receipt.billInfo.totalChargeRates | percent: '1.2-5'}} extra charges
              </p>
              <p *ngIf="billItem.discount" class="text-red-500 text-xs italic">
                -{{billItem.discount | percent: '1.2-5'}} discount
              </p>
            </div>
          </li>
        </ul>
        <footer>
          <strong
            class="text-xl">{{personBillItem.totalPayable.amount | currency: personBillItem.totalPayable.currency}}
          </strong>
          <span class="text-gray-500 text-xs italic">total payable</span>
        </footer>
      </div>
    </li>
  </ul>
</div>
