<header class="pb-4 border-b">
  <div class="mb-4 flex items-start justify-center">
    <div class="flex-1">
      <h2 class="text-2xl">
        {{receipt.billInfo.placeName}}
      </h2>
      <em>
        {{receipt.billInfo.date}}
      </em>
    </div>
    <div class="flex-1">
      <p>
        Total: <strong>{{receipt.billInfo.total.amount | currency: receipt.billInfo.total.currency}}</strong>
      </p>
      <p>
        Total with charges:
        <strong>{{receipt.billInfo.totalWithCharges.amount | currency: receipt.billInfo.totalWithCharges.currency}}</strong>
      </p>
      <em class="text-xs">
        Extra charge rates: <strong>{{receipt.billInfo.totalChargeRates | percent }}</strong>
      </em>
    </div>
  </div>
  <p>
    {{receipt.billInfo.remarks}}
  </p>
</header>
<div class="content">
  <ul>
    <li *ngFor="let personBillItem of receipt.personBillItems; trackBy: trackByFn;"
      class="flex items-start justify-center py-8 border-b last:border-b-0">
      <div class="flex-1">
        {{personBillItem.key.fullname | titlecase}}
      </div>
      <div class="flex-1">
        <ul>
          <li *ngFor="let billItem of personBillItem.value" class="pb-4">
            <div>
              <header>
                <h4 class="text-lg font-bold">{{ billItem.description }}</h4>
              </header>
              <p>
                Unit price: <strong>{{billItem.price.amount | currency: billItem.price.currency}}</strong>
              </p>
              <p>
                Price with charges:
                <strong>{{ billItem.priceWithCharges.amount | currency: billItem.priceWithCharges.currency }}</strong>
              </p>
            </div>
          </li>
        </ul>
        <footer>
          Total payable:
          <strong>{{personBillItem.totalPayable.amount | currency: personBillItem.totalPayable.currency}}</strong>
        </footer>
      </div>
    </li>
  </ul>
</div>
