<div *ngIf="wizardStep$ | async as wizardStep" class="relative h-full">
  <header class="mb-8 flex items-start justify-between">
    <h2>
      {{wizardStep.stepName}}
    </h2>
    <button class="btn btn-outline inline-flex items-center justify-center" type="button" (click)="addPerson()">
      <svg class="fill-current h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
        <path d="M11 9V5H9v4H5v2h4v4h2v-4h4V9h-4zm-1 11a10 10 0 1 1 0-20 10 10 0 0 1 0 20z" /></svg>
      Add
    </button>
  </header>
  <friends-form #friendsFormComponent *ngIf="friendsForm" [friendsForm]="friendsForm"
    (updateFriendClicked)="updateFriend($event)" class="block mb-4">
  </friends-form>
</div>
