<form *ngIf="friendsForm" [formGroup]="friendsForm">
  <div *ngIf="participants.length <= 0; then noFriends; else showFriends;"></div>
  <ng-template #showFriends>
    <div class="mb-8">
      <div formArrayName="participants"
        *ngFor="let participant of participants.controls; let i = index; trackBy: trackByFn"
        class="py-4 border-b last:border-b-0">
        <div [formGroupName]="i" class="flex items-baseline justify-between">
          <label class="block">
            <input type="checkbox" formControlName="selected" />
            {{participant.get('fullname').value | titlecase}}
          </label>
          <button type="button" class="btn flex items-center justify-center text-gray-600 px-0"
            (click)="update(participant)">
            <svg class="h-4 fill-current mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path d="M12.3 3.7l4 4L4 20H0v-4L12.3 3.7zm1.4-1.4L16 0l4 4-2.3 2.3-4-4z" /></svg>
            Update
          </button>
        </div>
      </div>
      <div class="field-error" *ngIf="friendsForm.invalid && (friendsForm.dirty || friendsForm.touched)">
        You must select at least one friend.
      </div>
    </div>
  </ng-template>
  <ng-template #noFriends>
    <div class="py-4">
      <img class="block mb-8 h-40 mx-auto" src="../../../assets/images/friends-having-fun.svg" alt="Friends">
      <p class="text-center text-gray-500">
        You have not added your friends yet.
      </p>
    </div>
  </ng-template>
</form>
