<ng-container *ngIf="vm$ | async as vm">
  <header class="mb-8 flex items-baseline justify-between">
    <h2 class="leading-none">
      {{vm.wizardStep.stepName}}
    </h2>
    <button class="btn btn-outline inline-flex items-center justify-center" type="button" (click)="addExtraCharge()">
      <svg class="fill-current h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
        <path d="M11 9V5H9v4H5v2h4v4h2v-4h4V9h-4zm-1 11a10 10 0 1 1 0-20 10 10 0 0 1 0 20z" /></svg>
      Add
    </button>
  </header>
  <div *ngIf="vm.extraCharges.length > 0; then showCharges; else noCharges;"></div>
  <ng-template #showCharges>
    <ul>
      <li *ngFor="let ec of vm.extraCharges" class="flex items-end justify-between py-4 border-b last:border-b-0">
        <div>
          <h4 class="text-xl font-bold leading-none">{{ec.description }}</h4>
          <p class="text-gray-500">{{ec.amount | percent }}</p>
        </div>
        <button type="button" class="btn flex items-center justify-center text-gray-600 px-0"
          (click)="updateExtraCharge(ec)">
          <svg class="h-4 fill-current mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M12.3 3.7l4 4L4 20H0v-4L12.3 3.7zm1.4-1.4L16 0l4 4-2.3 2.3-4-4z" /></svg>
          Update
        </button>
      </li>
    </ul>
  </ng-template>
  <ng-template #noCharges>
    <div class="py-4">
      <img class="block mb-8 h-40 mx-auto" src="../../../assets/images/no-bill-items.svg" alt="Friends">
      <p class="text-center text-gray-500">
        You have not added extra charges yet.
      </p>
    </div>
  </ng-template>
</ng-container>
