<div *ngIf="vm$ | async as vm">
    <h2>Bill from {{vm.bill.establishmentName}} incurred on {{vm.bill.billDate}}</h2>
    <div style="width: 600px;">
        <table style="width:100%;">
            <thead>
                <tr>
                    <th>Item description</th>
                    <th>Unit price</th>
                    <th>Price with charges</th>
                    <th>Assigned to</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pb of vm.peopleBilling; let i = index;">
                    <td>1 {{pb.billItem.description}}</td>
                    <td style="text-align: right;">{{pb.billItem.unitPrice.amount | currency: pb.billItem.unitPrice.currency}}</td>
                    <td style="text-align: right;">{{pb.billItem.priceWithCharges.amount | currency: pb.billItem.priceWithCharges.currency}}</td>
                    <td style="text-align: center;">{{pb.person?.fullname}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr *ngFor="let ec of vm.bill.extraCharges">
                    <td>{{ec.description}} {{ec.rate | percent}}</td>
                    <td style="text-align: right;">{{vm.bill.billTotalWithoutCharges * ec.rate | currency: 'MYR'}}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <strong>Grand total</strong>
                    </td>
                    <td style="text-align: right;">
                        <strong>{{vm.bill.billTotal | currency: 'MYR'}}</strong>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div>
        <h3>Friends</h3>
        <ul>
            <li *ngFor="let p of vm.bill.participants">
                {{p.person.fullname}} will pay <strong>{{p.totalPayable.amount | currency: p.totalPayable.currency}}</strong>
            </li>
        </ul>
    </div>
    <footer>
        <button type="button" (click)="onCancel()">Cancel</button> &nbsp;
        <a [routerLink]="['/bills', vm.bill.id, 'edit']">Update</a> &nbsp;
        <button type="button" (click)="onDelete(vm.bill.id)">Delete</button>
    </footer>
</div>