<div *ngIf="bill$ | async as bill">
    <h2>Bill from {{bill.establishmentName}} incurred on {{bill.billDate}}</h2>
    <ul>
        <li *ngFor="let billItem of bill.billItems">
            1 {{billItem.description}} for {{billItem.unitPrice.amount | currency: billItem.unitPrice.currency}}
        </li>
    </ul>
    <br>
    <ul>
        <li *ngFor="let extraCharge of bill.extraCharges">
            {{ extraCharge.description }} {{ extraCharge.rate | percent }}
        </li>
    </ul>
    <br>
    <a [routerLink]="['/bills', bill.id, 'edit']">Update</a>
    <button type="button" (click)="onDelete(bill.id)">Delete</button>
</div>