<div
id="hero"
class="bg-cover bg-local bg-no-repeat bg-top w-full"
>
<div class="flex items-center justify-center h-full">
  <h1 class="h1 text-3xl md:text-6xl text-white mb-40 font-bold">We eatin'</h1>
  <h1 class="h1 text-3xl md:text-6xl text-white mb-32 font-bold text-teal-400"> / We split 'em</h1>
</div>
</div>
<section id="features" class="py-12 md:py-16 px-4 md:px-16 bg-white">
  <div class="flex flex-col items-center justify-center max-w-6xl mx-auto">
    <div class="text-center mb-16">
        <h1 class="h1 text-5xl font-bold">
          Split that bill
        </h1>
        <p class="italic">like it ain't no thang</p>
      </div>
      <div class="flex items-start justify-center flex-col md:flex-row mx-auto">
        <div class="flex-1 p-4 m-4">
          <header class="flex flex-col items-center mb-4">
            <svg
              class="icon h-16 block mr-0 mb-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M1 4h2v2H1V4zm4 0h14v2H5V4zM1 9h2v2H1V9zm4 0h14v2H5V9zm-4 5h2v2H1v-2zm4 0h14v2H5v-2z"
              />
            </svg>
            <h2 class="h2 text-2xl">List</h2>
          </header>
          <p>
            List the items that you and your friends have partaken including the extra charges and discounts.
          </p>
        </div>
        <div class="flex-1 p-4 m-4">
          <header class="flex flex-col items-center mb-4">
            <svg
              class="icon h-16 block mr-0 mb-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"><path d="M5.08 12.16A2.99 2.99 0 0 1 0 10a3 3 0 0 1 5.08-2.16l8.94-4.47a3 3 0 1 1 .9 1.79L5.98 9.63a3.03 3.03 0 0 1 0 .74l8.94 4.47A2.99 2.99 0 0 1 20 17a3 3 0 1 1-5.98-.37l-8.94-4.47z"/></svg>
            <h2 class="h2 text-2xl">Assign</h2>
          </header>
          <p>
            Match each of the items in the bill to each of your friends with ease.
          </p>
        </div>
        <div class="flex-1 p-4 m-4">
          <header class="flex flex-col items-center mb-4">
            <svg
              class="icon h-16 block mr-0 mb-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"><path d="M10 15l-4 4v-4H2a2 2 0 0 1-2-2V3c0-1.1.9-2 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-8zM5 7v2h2V7H5zm4 0v2h2V7H9zm4 0v2h2V7h-2z"/></svg>
            <h2 class="h2 text-2xl">Notify</h2>
          </header>
          <p>
            Generate the receipt on the fly and send your friends their payables.
          </p>
        </div>
      </div>
  </div>
</section>
<section id="about" class="py-12 md:py-16 px-4 md:px-16 bg-teal-900">
  <div class="flex flex-col-reverse items-center justify-center p-8 mx-auto max-w-6xl md:flex-row">
    <div class="flex-1 py-4 md:px-8">
      <h2 class="h2 mb-4 leading-tight text-4xl font-bold text-gray-500">
        Splitting bills has never been this easy.
      </h2>
      <p class="text-gray-200 mb-16">
        Time is better spent with friends rather than lurking in a corner busily calculating bills when you don't have to.
      </p>
      <a [routerLink]="['bills', 0, 'edit']" class="bg-teal-500 hover:bg-teal-400 text-white font-bold py-2 px-4 border-b-4 border-teal-700 hover:border-teal-500 rounded">Get started</a>
    </div>
    <div class="flex-1 py-4 md:px-8">
      <div class="rounded shadow-md overflow-hidden">
        <img src="../../assets/images/men-and-women_1080x720.jpg" alt="">
      </div>
    </div>
  </div>
</section>
<footer class="bg-white">
  <div class="p-4 text-black text-center">
    Copyright © 2019 | <a href="https://tensileform.com">TensileForm</a> | All Rights Reserved
  </div>
</footer>