<div class="h-8"></div>
<div class="max-w-xl mx-auto">
  <header class="mb-4 lg:px-0">
    <h1>My bills</h1>
  </header>
  <div class="rounded shadow-md bg-white" *ngIf="bills$ | async as bills">
    <ul>
      <li *ngFor="let bill of bills" class="border-t first:border-t-0">
        <div class="p-4">
          <p class="text-sm text-gray-600 flex items-center mb-2">
            <svg class="fill-current text-gray-500 w-3 h-3 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path
                d="M1 4c0-1.1.9-2 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4zm2 2v12h14V6H3zm2-6h2v2H5V0zm8 0h2v2h-2V0zM5 9h2v2H5V9zm0 4h2v2H5v-2zm4-4h2v2H9V9zm0 4h2v2H9v-2zm4-4h2v2h-2V9zm0 4h2v2h-2v-2z" />
            </svg>
            {{ bill.billDate }}
          </p>
          <div class="mb-8">
            <h3 class="text-gray-900 font-bold">
              {{ bill.establishmentName | titlecase }}
            </h3>
            <p class="text-gray-600">
              {{bill.billTotal | currency: 'MYR'}}
            </p>
          </div>
          <div class="toolbar flex items-center justify-start">
            <a [routerLink]="['/receipt', bill.id]" class="btn btn-outline inline-flex items-center mr-2">
              <svg class="fill-current h-4 inline-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path d="M1 4h2v2H1V4zm4 0h14v2H5V4zM1 9h2v2H1V9zm4 0h14v2H5V9zm-4 5h2v2H1v-2zm4 0h14v2H5v-2z" />
              </svg>
              <span class="hidden md:inline md:ml-2">Receipt</span>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
